<div class="row">
  <div class="col">
    <section class="card card-primary">
      <div class="card-header">
        <ng-content></ng-content>
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="to-do">To Do</label>
          <input type="text" class="form-control" id="to-do" #name />
        </div>
        <div class="form-group">
          <label for="category">Category</label>
          <select class="form-control" id="category" #category >
            <option value="inbox">Inbox</option>
            <option value="angular">Angular</option>
            <option value="phpreboot">PHPReboot</option>
            <option value="ebooks">EBooks</option>
          </select>
        </div>
        <button class="btn btn-primary" (click)="onAddToDo(name, category)">Add ToDo</button>
      </div>
    </section>
  </div>
</div>
